<nav>
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                Game
            </NavLink>
        </li>
        <li>
            <NavLink href="/winstracker">
                Win Tracker
            </NavLink>
        </li>
    </ul>
</nav>
