@using Microsoft.AspNetCore.Components.Routing

<link rel="stylesheet" href="app.css" />

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <LayoutView>
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<script src="_framework/blazor.web.js"></script>
